name: Monitor LDLC Fast

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  check_stock:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar librerías
        run: pip install -r requirements.txt

      - name: Ejecutar Monitor
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python ldlc_monitor.py

      - name: Guardar base de datos
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update stock db [skip ci]"
          file_pattern: "vistos.json"